Synchora[[:space:]]Server/yolov3.cfg filter=lfs diff=lfs merge=lfs -text
Synchora[[:space:]]Server/coco.names filter=lfs diff=lfs merge=lfs -text
Synchora[[:space:]]Server/yolov3.weights filter=lfs diff=lfs merge=lfs -text
